
@{
    ViewBag.Title = "Admin";
    if (Session["Admin"] == null)
    {
        Response.Redirect("~/Account/Login", false);
    }
}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>



                @if (Session["Admin"] != null)
                {
                    @Html.ActionLink("Admin", "AdminRegistration", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Invigilator", "InvigilatorRegistration", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Info", "Contact", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Home", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Logout", "Logout", "Account", new { area = "End" }, new { @class = "navbar-brand" })
                }


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>


